@media (max-width: 758px) {
  .header .instruction-mobile {
    font-size: 0.75rem;
    display: flex;
    text-align: center;
    line-height: 1.25rem;
  }
  .header .instruction-pc {
    display: none;
  }

  .section-1 {
    margin: 2rem;
  }
  %btn-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .btn-check {
    @extend %btn-mobile;
  }

  .btn-again {
    @extend %btn-mobile;
  }
  .container-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
